@model RailwayReservation.Models.TrainSchedule

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrainSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start_Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Station)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Station)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrival_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrival_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance_Between)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance_Between)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainDetail.TrainName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainDetail.TrainName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
