@model RailwayReservation.Models.TrainDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrainDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_compartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_compartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C1AC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C1AC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2AC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2AC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3AC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3AC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sleeper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sleeper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.General)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.General)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
