@model RailwayReservation.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Journey_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journey_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Station)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Station)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainDetail1.TrainName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainDetail1.TrainName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainSchedule1.Start_Station)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainSchedule1.Start_Station)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
